/* Code de réinitialisation CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Réinitialisation du rôle d'affichage HTML5 pour les anciens navigateurs */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: "Kumbh Sans", sans-serif;
}


ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Styles personnalisés ici */

body{
   overflow-x: hidden;
}

header, main .attribution{
  flex: 1;
}
/*Haut de la page*/

header {
  position: relative;
  margin: 0 5%;
  border-bottom: 1px solid #ccc;
}

.header-links:hover{
  border-bottom: 5px solid orange;
  padding-bottom: 47px;
}

a.header-links {
  margin-right: 15px;
}

.burger-menu-container{
  display: none;
}

.burger-menu{
  font-family: "Kumbh Sans", sans-serif;
  position: absolute;
  left: 0; 
  display: none;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  width: 220px;
  height: 1200px;
  top: -10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.burger-links{
  margin-top: 100px;
}

.burger-links li{
  margin-bottom: 20px;
  font-size: 20px;
}

.arrow{
  display: none;
}

.logo{
  margin-right: 55px;
}


.categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 10px;
}

.moving-picture{
  display: none;
}

nav, ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

nav a:hover {
  color: black;
}


li {
  margin-left: 20px;
}

li a{
  text-decoration: none;
  color: #7e7c7c;
}

.header-incons{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.Panier-bulle {
  position: relative; 
}

.cart-bubble {
  position: absolute; 
  top: -5px; 
  right: 35px; 
  width: 18px; 
  height: 13px; 
  background-color: orange; 
  border-radius: 50%; 
}

.quantite-bubble{
  position: absolute;
  font-size: 10px;
  top: -3px;
  right: 30px;
  width: 16px;
  height: 0px;
  color: white;

}

.Panier{
  margin-right: 40px;
  cursor: pointer;
}

.panier:active{
  background-color: black;
}

.avatarCont {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Avatar{
 width: 50px;
 height: 50px;
 margin: 20px;
 border-radius: 50%;
 cursor: pointer;
}

.Avatar:active {
  border: 2px solid orange; 
}

/*Carte invisible 1*/

.container-cart {
  font-family: "Kumbh Sans", sans-serif;
  position: absolute;
  right: 0; 
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  width: 350px;
  height: 225px;
  right: -150px;
  top: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: none;
}

.hide {
  display: none;
}

.Cart3{
  padding: 10px;
  border-bottom: 1px solid #a09e9e98;
}

.checkout-btn{
  padding: 16px;
  margin: 15px;
  background-color: #ff7f00;
  color: white;
  border: none;
  border-radius: 7px;
}

.delete-icon{
  padding: 10px;
}

.cart-content{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

.img-chaussure{
  width: 63px;
  padding: 5px;
}

.delete-icon{
  margin-left: auto;
  cursor: pointer;
}

.checkout-btn{
  align-items: flex-end;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.checkout-btn:hover{

}

/*Carte Invisible 2*/

.container-cart-vide{
  position: absolute;
  background-color: white;
  width: 350px;
  height: 270px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: none;
}


.Cart4{
  border-bottom: 1px solid gray;
  height: 40px;
  padding-left: 25px;
}

.Panier-vide{
  margin: 55px;
  margin-left: 100px;
  margin-top: 65px;
}

/*Images du produit (+ Main)*/

main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 0 5%;
  margin-bottom: 50px;
}

.main-photo img{
  height: 400px;
  border-radius: 25px;
  margin-bottom: 25px;
  width: 400px;
  border-radius: 10px;
}

.description {
  width: 50%;
}

.thumbnail {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thumbnail img {
  width: 10.7%;
  height: auto;
 }

.thumbnail > div {
  width: 85px;
  height: 85px;
  border-radius: 1em;
}

.thumbnail > div >img {
  width: 100%;
  height: 100%;
  border-radius: 13px;
}

.thumbnail img:hover {
  filter: brightness(1.2);
  filter: opacity(50%);
  
}

.active{
  border: #ff7f00 solid 3px;
}

.active > img {
  filter: opacity(50%);
}

.photos{
  padding-top: 5%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Description du produit */

h1{
  font-size: 13px;
  color:hsl(26, 100%, 55%);
  margin-bottom : 20px;
  font-weight: bold;
}

h2{
  font-size: 2.5em;
  margin-top: auto;
  margin-bottom: 25px;
  font-weight: bold;
}

.description-shoe{
  color: #535252;
  margin-bottom: 30px;
  line-height: 26px;
}

.reduction{
  margin-right: 10px;
  font-weight: bold;
}

.reduction, .percentage {
  display: inline;
  font-weight: bold;
  font-size: 1.4em;
}

.percentage{
  background-color: #efb87461;
  color: orange;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: 1em;
  font-size: 14px;
}

.Price{
  display: flex;
  align-items: center;
}

.original-price{
  text-decoration: line-through;
  color: #a09e9e98;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 40px;
}

.cart-buttons{
  display: flex;
  flex-direction: row;
}

.quantite-container{
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 150px;
  font-size: 20px;
  margin-right: 10px;
  background-color: #e9e6e6b0;
  font-weight: bold;
}
  
.decrease, .increase{
  color: orange;
  cursor: pointer;
}

.cart{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  background-color: #ff7f00;
  border: none;
  color: white;
  font-weight: bold;
  font-family: "Kumbh Sans", sans-serif;
  filter: brightness(1.2);
  transition: 0.3s ease;
}

.cart::before, .cart::after {
  content: ''; 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  border-radius: 10px; 
  transition: opacity 0.3s ease;
}

.cart::before {
  background-color: rgba(255, 255, 255, 0.3); 
  opacity: 0; 
}

.cart::after {
  background-color: rgba(255, 255, 255, 0); 
  opacity: 0.5; 
}

.cart:hover::before {
  opacity: 1; 
}

.cart:hover::after {
  opacity: 0; 
}

.shopping-cart-buttons{
  margin-right: 10px;
  height: 15px;
  color: white;
}

.carte img{
  filter: brightness(5);
}

.hide {
  display: none;
}

/* Media Querries*/

@media screen and (max-width: 1024px) {
  
  main {
    padding: 0;
  }
  
  .photos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .main-photo img {
    width: 100%;
  }

  .container-cart {
    font-family: "Kumbh Sans", sans-serif;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 350px;
    height: 223px;
    right: -100px;
    top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
  }

  .container-cart-vide {
    position: absolute;
    background-color: white;
    right: -100px;
    width: 348px;
    height: 223px;
    top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: none;
  }

  .thumbnail {
    display: flex;
    justify-content: space-evenly;
  }

  .description {
    margin: auto;
  }
  
} /* Fin du bloc @media screen and (max-width: 1024px) */

@media screen and (max-width: 768px) {

  body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0;
  }

  header {
    border-bottom: none;
    margin: 0;
  }
  
  .avatarCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0;
  }

  .Panier {
    margin-left: 10px;
  }

.main-photo img{
  margin-top: -63px;
}

.cross{
  margin-top: 25px;
  margin-left: 15px;
}

  .moving-picture {
    display: block;
    margin-right: 10px;
  }

  .burger-menu, .burger-links {
    display: block;
  }

.burger-links a{
  color: black;
  font-weight: bold;
}

  .arrow-left,
  .arrow-right {
    display: block; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 30px; 
    height: 30px; 
    background-size: cover; 
    z-index: 1; 
  }

  .arrow-left {
    left: 10px; 
  }

  .arrow-right {
    right: 10px;
  }


.container-cart {
  display: none; 
  position: absolute;
  top: 785%; 
  left: -47%; 
  transform: translate(-50%, -50%);
  width: 411%; 
  max-width: 300px;
  height: 230px; 
}


.container-cart .cart-content {
  padding: 10px; 
  text-align: center; 
}

.container-cart .Cart3 {
  font-size: 16px; 
  color: #333; 
}

.container-cart:not(.hide) {
  display: block; 
  width: 415%;
  top: 750%;
  margin-left: 40px;
  height: 218px;
 }

 .checkout-btn{
  width: 270px;
} 

 .container-cart-vide{
  position: absolute;
  width: 267px;
  height: 246px;
  right: -44%;
  top: 56px;
 }


  ul {
    display: none;
  }

  .main-photo {
    width: 100%;
    max-width: 100%;
    margin-bottom: 25px;
  }

  .main-photo img {
    object-fit: cover;
    border-radius: 0;
    width: auto;
  }

  .photos {
    width: 130%;
  }

  .thumbnail {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .description {
    width: auto;
  }

  br {
    display: none;
  }

  h1 {
    font-size: 16px;
  }

  h2 {
    font-size: 31px;
  }

  .description-shoe {
    font-size: 18px;
  }

  .cart-buttons {
    display: flex;
    flex-direction: column;
  }

  .quantite-container {
    width: 290px;
    height: 45px;
  }

  .cart {
    width: 290px;
  }

